.filterEquipment {
  display: flex;
  width: 360px;
  flex-wrap: wrap;
  gap: 12px;

  padding-top: 48px;
}

.filterTitle {
  padding-top: 40px;
  
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--text);
}

.vehicleTitle {
    padding-top: 32px;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
  position: relative; /* Для позиціонування псевдоелемента */
}

.vehicleTitle::after {
  content: ""; /* Додаємо порожній елемент */
  position: absolute;
  bottom: -24px; /* Відступ 24px від тексту */
  left: 0;
  width: 100%; /* Лінія на всю ширину тексту */
  height: 1px; /* Товщина лінії */
  background-color: var(--gray-light); /* Колір лінії */
}

.filterItem {
  display: flex;

  align-items: center;
  justify-content: center;
  border: 1px solid var(--gray-light); /* Початковий колір бордеру */
  border-radius: 12px;
  padding: 16px 27px;
  width: 112px;
  height: 96px;
  mix-blend-mode: multiply;
  transition: border-color 0.3s ease; /* Плавний перехід при зміні кольору бордеру */
}

.label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--main);

  padding-bottom: 16px;
}
.filterItem.selected {
  border-color: red; /* Заміни на свій бажаний колір */
}

.icon {
  width: 32px;
  height: 32px;
}

.additionalClass {
  fill: var(--white); /* Додатковий стиль для іконок */
}

/* Приховуємо чекбокс, але залишаємо його функціональність */
.checkbox {
  visibility: hidden;
}
