:root {
  --dark-navy: #101828;
  --slate-grey: #475467;
  --steel-grey: #6c717b;
  --red-primary: #e44848;
  --red-secondary: #d84343;
  --yellow-primary: #ffc531;
  --grey-light: #dadde1;
  --grey-very-light: #f2f4f7;
  --grey-almost-white: #f7f7f7;
  --pure-white: #ffffff;
}
